@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap");

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 3fr;

  font-family: "Gluten", cursive;

  background-color: rgb(212, 136, 149);
}

.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  background-color: pink;
  border: 1px solid purple;
  /* width: 100%;
  height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4em;
  font-weight: bold;
  font-family: "Gluten", cursive;

  border-radius: 15px;
}

.game-board {
  display: grid;
  width: 50vh;
  height: 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-self: center;
  justify-self: center;
}

button {
  font-family: "Gluten", cursive;
  font-size: 0.6em;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: pink;
  border: 2px solid purple;
}

input {
  border-radius: 10px;
  border: 2px solid purple;
  padding: 10px 15px;
  font-family: "Gluten", cursive;
}

.name-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  font-size: 2em;
}

.winner {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}
